<div class="jumbotron">
  <h1 class="display-3">Welcome to Delicious House</h1>
  <p class="lead">Let's enjoy our feast!</p>
  <hr class="m-y-2">
  <p>"One cannot think well, love well, sleep well, if one has not dined well" Virginia Woolf
  </p>
  <p class="lead">
    <%= link_to "Menu", menu_path, class: 'btn btn-primary btn-lg'%>
    <%= link_to 'Contact Us', contact_us_path, class: 'btn btn-primary btn-lg'%>
    
  </p>
</div>
