<div class="jumbotron">
  <h1 class="display-3">Welcome to Delicious House</h1>
  <p class="lead">Let's enjoy our feast!</p>
  <hr class="m-y-2">
  <p>"One cannot think well, love well, sleep well, if one has not dined well" Virginia Woolf
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>